[submodule "themes/cactus"]
	path = themes/cactus
	url = https://github.com/monkeyWzr/hugo-theme-cactus
[submodule "themes/themes/mini"]
	path = themes/mini
	url = https://github.com/nodejh/hugo-theme-mini.git
