[submodule "themes/cactus"]
	path = themes/cactus
	url = https://github.com/monkeyWzr/hugo-theme-cactus
[submodule "themes/mini"]
	path = themes/mini
	url = https://github.com/nodejh/hugo-theme-mini.git
[submodule "themes/fuji"]
	path = themes/fuji
	url = https://github.com/danielabrozzoni/hugo-theme-fuji.git
